# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# Obviously...
a.out

# googletest (gtest) related make files
CMakeFiles/
CMakeCache.txt
ext/gtest/Makefile
*.cmake
